# Dependencias
node_modules/

# Resultados de compilación
dist/
dist-ssr/
dev-dist/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Caché de herramientas
*.local
.vite/

# Editores
.DS_Store
.vscode/*
!.vscode/extensions.json

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
